
{% extends 'layouts/page.html' %}

{% block content %}
	{% include 'objects/hero.html' %}

		
	<section class="banner banner--text-left color--tonal-gray-1">
		<div class="banner__container">

			<figure class="banner__img">
				<img src="assets/images/samples/macbook_screenshot01.png" alt="Sample image" />
			</figure>

			<div class="banner__content">
				<h1>Få det fulde overblik.<br>Når som helst, hvor som helst.</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
			</div>
		</div>
	</section>

	<section class="banner banner--text-right color--tonal-gray-1">
		<div class="banner__container">

			<figure class="banner__img">
				{{ sprite('minuba-icons-timer', null, 'banner__img__sprite') }}
				<!--<img src="assets/images/samples/worker-time01.jpg" alt="Sample image" />-->
			</figure>

			<div class="banner__content">
				<h1>Lorem ipsum dolor sit amet consectetur</h1>
				<p>
					Etiam sed sagittis ligula. Ut rutrum eget ex at finibus. 
					Fusce nibh justo, tristique et convallis id, mattis in lorem. 
					Curabitur dapibus ut nibh sit amet ultrices. 
				</p>
				<div class="banner__btn">
					<a href="#free-trial" class="btn">Gratis demo</a>
				</div>
			</div>
		</div>
	</section>


	{% include 'objects/banner-slider.html' %}
	{% include 'objects/banner-feature-list.html' %}
	{% set is_testimonial = true %}
	{% include 'objects/banner-testimonials.html' %}
	{% include 'objects/banner-text-center.html' %}

{% endblock %}


{% block javascript %}

{% endblock %}
