
{% extends 'layouts/page.html' %}

{% block content %}
	{% include 'objects/hero.html' %}

		

	<section class="banner banner--text-left color--tonal-gray-1">
		<div class="banner__container">

			<figure class="banner__img">
				<img src="assets/images/samples/macbook_screenshot01.png" alt="Sample image" />
			</figure>

			<div class="banner__content">
				<h1>Få det fulde overblik.<br>Når som helst, hvor som helst.</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
			</div>
		</div>
	</section>

	<section class="banner banner--text-right color--tonal-gray-1">
		<div class="banner__container">

			<figure class="banner__img">
				<img src="assets/images/samples/worker-time01.jpg" alt="Sample image" />
			</figure>

			<div class="banner__content">
				<h1>Lorem ipsum dolor sit amet consectetur</h1>
				<p>
					Etiam sed sagittis ligula. Ut rutrum eget ex at finibus. 
					Fusce nibh justo, tristique et convallis id, mattis in lorem. 
					Curabitur dapibus ut nibh sit amet ultrices. 
				</p>
				<div class="banner__btn">
					<a href="#free-trial" class="btn">Gratis demo</a>
				</div>
			</div>
		</div>
	</section>

	<section class="banner color--white">
		<div class="banner__container">
			<div class="banner__content">
				<h1>Lorem ipsum dolor sit amet, consectetur</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				</p>

				<div class="slider">
					<ul class="slider__items">
						<li class="slider__item">
							<figure class="slider__image">
								<img class="elm--shadow" src="assets/images/samples/screenshot01.jpg" alt="Screenshot">
								<figcaption class="slider__image__caption">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</figcaption>
							</figure>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</section>


	<section class="grid-list color--tonal-gray-3">
		<div class="grid-list__container">
			{%
				set features = [1,2,3,4,5,6,7,8,9]
			%}
			<ul class="grid-list__items">
				{% for n in features %}
				<li class="grid-list__item">
					<h2>Lorem ipsum</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<a class="btn">Læs mere</a>
				</li>
				{% endfor %}
			</ul>

		</div>

	</section>


{% endblock %}


{% block javascript %}

{% endblock %}
