
{% extends 'layouts/page.html' %}

{% block content %}
		

	<article class="block color--default">
		<div class="block__container">


			<div class="block__content wysiwyg">
				<h1>Available pages</h1>
				
				<ul>
					<li><a href="index.html">Index page</a></li>
					<li><a href="frontpage.html">Frontpage</a></li>
					<li><a href="blocks.html">Blocks</a></li>
					<li><a href="article.html">Article</a></li>
					<li><a href="form.html">Form</a></li>
					<li><a href="form-alternative.html">Form alternative</a></li>
				</ul>
			</div>
		</div>

	</article>




{% endblock %}


{% block javascript %}

{% endblock %}
