
.banner {
	text-align: center;
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
}

.banner__container {
	@extend %block__container;
}

.banner__img {
	@extend %block__img;
}

.banner__content {
	@extend %block__content;

	line-height: $line-height-lg;

	h1 {
		margin-bottom:0;
	}
}

// Modifiers

.banner--background-img {
	.banner__content {
		@include text-color-light;
		text-shadow: 0 0 40px rgba(0,0,0,1), 0 0 20px rgba(0,0,0,.3);
	}
}



// Breakpoints
@include breakpoint($grid-md) {



	.banner__img {
		img {
			max-width: none;
			width: auto;
		}
	}

	.banner__content {
		//@include rem-value(font-size, $font-size-lg);
	}

	.banner__btn {
		margin: 2em 0 0;
		text-shadow: none;

		& + p {
			margin-top: .8em;
		}
	}

	.banner:not(.banner--text-left):not(.banner--text-right) {
		.banner__img + .banner__content {
			margin-top: -0.5 * $content-padding-v;
		}


		&:not(.banner--text-wide) {
			.banner__content {
				> p {
					max-width: span(4 of 6);
					margin-left: auto;
					margin-right: auto;
				}
			}
		}

	}
	

	// Modifiers
	
	.banner--text-left,
	.banner--text-right {
		.banner__container {
			@include container;
			max-width: $grid-lg;
			margin-left: auto;
			margin-right: auto;
			@include rem-value(padding-left, $content-margin);
			@include rem-value(padding-right, $content-margin);
		}
		.banner__img {
			@include span(3 of 6 last);
		}
		.banner__content {

			max-width: auto;
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			padding-left: 0;
			padding-right: 0;
			
			text-align: left;
			@include span(3 of 6 first);

		}
	}

	.banner--text-right {
		.banner__img {
			@include span(3 of 6 first);
			text-align: right;
			direction: rtl;
		}
		.banner__content {
			@include span(3 of 6 last);
		}
	}

	.banner--vertical-center {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.banner--text-wide {
		.banner__content > p {
			max-width: span(5 of 6);
			margin-left: auto;
			margin-right: auto;
		}
	}

	.banner--size-1 {
		@include rem-value(min-height, 525px);
	}
	.banner--size-2 {
		@include rem-value(min-height, 420px);
	}
	.banner--size-3 {
		@include rem-value(min-height, 320px);
	}


}