/**
* Buttons
*
* @section Objects
* @author ljd
*/

// Style guide variables
$btn-color-primary: $color-minuba-secondary;
$btn-color-secondary: $color-white;

$btn-border-width: 0px;

$btn-min-width-default: 200px;
$btn-min-width-medium: 160px;
$btn-min-width-small: 120px;

$btn-height-default: 50px;
$btn-height-medium: 35px;
$btn-height-small: 28px;

$btn-type-size-default: 20px;
$btn-type-size-medium: 18px;
$btn-type-size-small: 14px;

$btn-padding-default: 45px;
$btn-padding-medium: 30px;
$btn-padding-small: 1em;

$btn-line-height-default: $btn-height-default - (2*$btn-border-width);
$btn-line-height-medium: $btn-height-medium - (2*$btn-border-width);
$btn-line-height-small: $btn-height-small - (2*$btn-border-width);


@mixin btn-color($text, $fill, $border, $secondary: false) {
	
	color: $text;
	background: $fill;
	border-color: $border;
	text-shadow: none;

	&:active,
	&:focus,
	&:hover  {
		color: $text;
		text-decoration: none;

		background: darken($fill, 10%);

		@if $secondary == true {
			border-color: $border;
		} @else {
			border-color: darken($border, 10%);
		}
	}
}


.btn {
	display: block;
	overflow: hidden;
	position: relative;

	margin: 0;
	padding: 0 $btn-padding-default;
	height: $btn-height-default;
	min-width: $btn-min-width-default;
	width: 100%;

	font-family: $font-stack-body;
	font-size: $btn-type-size-default;
	@include rem-value(font-size, $font-size-xl);
	font-weight: $weight-light;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	line-height: $btn-line-height-default;
	text-decoration: none;

	cursor: pointer;

	border-radius: $border-radius;
	border-width: $btn-border-width;
	border-style: solid;


	transition-duration: $duration-fast;

	@include btn-color($btn-color-secondary, $btn-color-primary, $btn-color-primary);

	.icon {
		line-height: $btn-line-height-default;
	}
}


// Modifiers

.btn--sm,
.btn--md {
	padding: 0 $btn-padding-medium;
	height: $btn-height-medium;
	min-width: $btn-min-width-medium;

	@include rem-value(font-size, $font-size-md);
	line-height: $btn-line-height-medium;

	border-radius: $border-radius-small;

	.icon {
		line-height: $btn-line-height-medium;
	}
}


.btn--block {
	display: block;
}

.btn--centered {
	text-align: center;
	.btn {
		display: block;
	}
	.btn + .btn {
		margin-top: 1em;
	}
}


@include breakpoint($grid-sm) {
	.btn {
		display: inline-block;
		width: auto;
	}
	
	.btn--sm {
		padding: 0 $btn-padding-small;
		height: $btn-height-small;
		min-width: $btn-min-width-small;

		@include rem-value(font-size, $font-size-sm);
		line-height: $btn-line-height-small;
		text-align: left;
		border-radius: $border-radius-small;

		.icon {
			line-height: $btn-line-height-small;
		}
	}


	.btn--centered {
		.btn {
			display: inline-block;
		}

		.btn + .btn {
			margin-top: 0;
			margin-left: 30px;
		}
	}
}


