

	

.color--minuba-primary,
.color--purple {
	background-color: $color-minuba-primary;
}

.color--minuba-secondary,
.color--orange {
	background-color: $color-minuba-secondary;
}

.color--dark-purple {
	background-color: $color-dark-purple;
}
.color--baby-blue {
	background-color: $color-baby-blue;
}
.color--steel-blue {
	background-color: $color-steel-blue;
}
.color--beige {
	background-color: $color-beige;
}

.color--default,
.color--tonal-gray-1 {
	background-color: $color-tonal-gray-1;
}

.color--white {
	background-color: $color-white;
}

// Set text and button colors

.color--minuba-primary,
.color--purple,
.color--dark-purple,
.color--steel-blue {
	@include text-color-light;

	.btn {
		@include btn-color($color-text-body, $color-white, $color-white, $secondary: false)
	}
}

.color--default,
//.color--tonal-gray-1,
.color--white,
.color--beige {
	@include text-color-normal;

	.btn {
		@include btn-color($btn-color-secondary, $btn-color-primary, $btn-color-primary);
	}
}

// Use darker text color
.color--baby-blue {
	@include text-color-dark;
	.btn {
		@include btn-color($color-white, $color-steel-blue, $color-steel-blue, $secondary: false)
	}
}


// Collapse padding between same-colored blocks to avoid large white-space gaps
$color-list:
	'default'
	'minuba-primary'
	'minuba-secondary'
	'orange'
	'purple'
	'dark-purple'
	'baby-blue'
	'steel-blue'
	'beige'
	'tonal-gray-1'
	'white';

@each $color in $color-list {
	.color--#{$color} + .color--#{$color} {
		%block__container {
			padding-top: 0;
		}
	}
}
