


%content-wrapper,
%block__container {
	display:block;
	max-width: $grid-lg;
	margin-left: auto;
	margin-right: auto;

	@include rem-value(padding-left, $content-margin);
	@include rem-value(padding-right, $content-margin);

}

%block__container {
	@extend %block__container;
	position: relative;

	@include rem-value(padding-top, .5 * $content-padding-v);
	@include rem-value(padding-bottom, .5 * $content-padding-v);

	@include breakpoint($grid-md) {
		@include rem-value(padding-top, $content-padding-v);
		@include rem-value(padding-bottom, $content-padding-v);
	}
}


%block__img {
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;

	img {
		display:block;
		width:100%;
	}

	.sprite {
		position: relative;
		width: 70%;
		height: auto;
		padding-bottom: 70%;

		svg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	@include breakpoint($grid-md) {
	
		.sprite {
			position: absolute;
			padding-bottom: 0;
			width: inherit;
			height: 100%;
			top: 0;
			overflow: hidden;
			

			//padding-bottom: 100%;
/*
			svg {
				position: absolute;
				width: 100%;
				height: 100%;

				background: rgba(255,0,0,.3);
			}
			*/
		}
	}
}


%strip-child-margins,
%block__content,
%block__img {
	> *:first-child {
		margin-top: 0;
	}
	> *:last-child {
		margin-bottom: 0;
	}
}

%block__img + %block__content {
	@include rem-value(padding-top, .5 * $content-padding-v);

	@include breakpoint($grid-md) {
		padding-top: 0;
	}
}
