
.site-content > .feature-list {

	& > .grid-list__container {
		@extend %block__container;
	}
	
}


.feature-list__items {
	margin:0;
	padding: 0;
	list-style: none;
	overflow: hidden;

}

.feature-list__item {
	margin:3em 0 0;
	padding:0;
	text-align: left;

	@extend %strip-child-margins;

	@include rem-value(font-size, $font-size-sm);
	line-height: $line-height-lg;

	
	&:first-of-type {
		margin-top: 0;
	}

}

.feature-list__title {
	@include rem-value(font-size, $font-size-lg);

	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.feature-list__sprite {
	width: 2.6em;
	height: 2.6em;
	margin-right: .5em;
	vertical-align: middle;

	flex: none;
	align-self: flex-start;
}




@include breakpoint($grid-sm) {
	.feature-list__items {
		@include container;
	}
	.feature-list__item {
		margin-top: 0;
	}
}

@include breakpoint($grid-sm $grid-sm-max) {
	.feature-list__item {
		&:nth-of-type(odd) {
			@include span(3 of 6 first); 
		}
		&:nth-of-type(even) {
			@include span(3 of 6 last); 
		}
		&:nth-of-type(n+3) {
			margin-top: 3em;
		}
	}
}

@include breakpoint($grid-md) {

	.feature-list__item {
		&:nth-of-type(3n+1) {
			@include span(2 of 6 first); 
		}
		&:nth-of-type(3n+2) {
			@include span(2 of 6); 
		}
		&:nth-of-type(3n+3) {
			@include span(2 of 6 last); 
		}
		&:nth-of-type(n+4) {
			margin-top: 3em;
		}
	}
}
