

$grid-gutter: $base-unit * 2;

.grid {
	margin: 0;

	&:after {
		content: "";
		display: table;
		clear: both;
	}

}




@include breakpoint($grid-xs) {
	.grid [class*='grid-xs--'] {
		float: left;
		padding-right: $grid-gutter;

		&:last-of-type {
			padding-right: 0;
		}
	}

	.grid-xs--1-3,
	.grid-xs--2-6 {
		width: 33.33%;
	}
	.grid-xs--2-3,
	.grid-xs--4-6 {
		width: 66.66%;
	}
	.grid-xs--1-2,
	.grid-xs--3-6,
	.grid-xs--4-8 {
		width: 50%;
	}
	.grid-xs--1-4,
	.grid-xs--2-8 {
		width: 25%;
	}
	.grid-xs--1-6 {
		width: 16.66%;
	}
	.grid-xs--1-8 {
		width: 12.5%;
	}
}
@include breakpoint($grid-sm) {
	.grid [class*='grid-sm--'] {
		float: left;
		padding-right: $grid-gutter;

		&:last-of-type {
			padding-right: 0;
		}
	}
	.grid-sm--1-3,
	.grid-sm--2-6 {
		width: 33.33%;
	}
	.grid-sm--2-3,
	.grid-sm--4-6 {
		width: 66.66%;
	}
	.grid-sm--1-2,
	.grid-sm--3-6,
	.grid-sm--4-8 {
		width: 50%;
	}
	.grid-sm--1-4,
	.grid-sm--2-8 {
		width: 25%;
	}
	.grid-sm--1-6 {
		width: 16.66%;
	}
	.grid-sm--1-8 {
		width: 12.5%;
	}
}
@include breakpoint($grid-md) {
	.grid [class*='grid-md--'] {
		float: left;
		padding-right: $grid-gutter;

		&:last-of-type {
			padding-right: 0;
		}
	}
	.grid-md--1-3,
	.grid-md--2-6 {
		width: 33.33%;
	}
	.grid-md--2-3,
	.grid-md--4-6 {
		width: 66.66%;
	}
	.grid-md--1-2,
	.grid-md--3-6,
	.grid-md--4-8 {
		width: 50%;
	}
	.grid-md--1-4,
	.grid-md--2-8 {
		width: 25%;
	}
	.grid-md--1-6 {
		width: 16.66%;
	}
	.grid-md--1-8 {
		width: 12.5%;
	}
}
@include breakpoint($grid-lg) {
	.grid [class*='grid-lg--'] {
		float: left;
		padding-right: $grid-gutter;

		&:last-of-type {
			padding-right: 0;
		}
	}
	.grid-lg--1-3,
	.grid-lg--2-6 {
		width: 33.33%;
	}
	.grid-lg--2-3,
	.grid-lg--4-6 {
		width: 66.66%;
	}
	.grid-lg--1-2,
	.grid-lg--3-6,
	.grid-lg--4-8 {
		width: 50%;
	}
	.grid-lg--1-4,
	.grid-lg--2-8 {
		width: 25%;
	}
	.grid-lg--1-6 {
		width: 16.66%;
	}
	.grid-lg--1-8 {
		width: 12.5%;
	}
}
