
.site-content > .grid-list {
	text-align: center;

	& > .grid-list__container {
		@extend %block__container;
	}
}

.grid-list__items {
	margin-left:0;
	margin-right:0;
	padding:0;
	list-style: none;
	text-align: center;
}

h1,
h2 {
	& + .grid-list__items {
		margin-top: 0;
	}
}

.grid-list__item {
	margin:3em 0 0;
	padding:0;
	@extend %strip-child-margins;

	@include rem-value(font-size, $font-size-sm);
	line-height: $line-height-lg;

	.grid-list__sprite {
		margin-right: .5em;
		vertical-align: middle;

	}

	blockquote {
		margin: 0 0 .8em;
	}
}

.grid-list__link {
	display:block;
	text-decoration: none;

	@extend %strip-child-margins;

	&,
	&:link,
	&:visited {
		color: inherit;
	}
	&:hover {
		color: $color-minuba-secondary;
	}

}

.grid-list__img {
	margin: 0 0 .8em;
}

.grid-list__title {
	@include rem-value(font-size, $font-size-lg);
	margin: 0 0 .2em;
}


// Modifiers

.grid-list--testimonials {
	.grid-list__title {
		display: none;
	}
}

// Breakpoints

@include breakpoint($grid-sm) {
	
	.grid-list__items {
		position:relative;
		overflow: hidden;
	}
	.grid-list__item {
		margin-top: 0;
		overflow: visible;
		

		&:before,
		&:after {
			content: '';
			display:block;
			position:absolute;
			z-index: 5;

		}

		&:after {
			width:1px;
			@include rem-value(top, $content-margin);
			@include rem-value(bottom, $content-margin);
			margin-left: gutter() / -2;
			
			background: $color-tonal-gray-2;
			background: linear-gradient(	
		      rgba($color-tonal-gray-2, 0),
		      rgba($color-tonal-gray-2, 1) 20%,
		      rgba($color-tonal-gray-2, 1) 80%,
		      rgba($color-tonal-gray-2, 0)
		    );
		}

		&:before {
			height:1px;
			@include rem-value(left, $content-margin);
			@include rem-value(right, $content-margin);
			margin-top: gutter() / -2;
			
			background: $color-tonal-gray-2;
			background: linear-gradient(
			  to right,
		      rgba($color-tonal-gray-2, 0),
		      rgba($color-tonal-gray-2, 1) 20%,
		      rgba($color-tonal-gray-2, 1) 80%,
		      rgba($color-tonal-gray-2, 0)
		    );
		}
	}

	.grid-list__img {
		min-height: 120px;
		
		.flexbox & {
			display: flex;
			flex-direction: column;
			flex-align: middle;
			justify-content: center;
			align-items: center;

			img {
				display:inline-block;
				max-height: 100%;
			}
		}
	}



	.grid-list--slider {
		
		.slider-wrapper {
			overflow: hidden;
			width: 100%;

			
			@for $i from 1 through 20 {
			  &[data-slider-state='#{$i}'] {
			  	.grid-list__items { transform: translateX(#{$i * -100%}); }
			  }    
			}

		}

		.grid-list__items {
			display: flex;
			flex-direction: row;
			flex-shrink: 0;
			flex-grow: 1;
			overflow: visible;
			width: auto;

			transition: transform .6s $ease-in-out-quad;
		}

		.grid-list__item {
			flex:none;
			margin-top: 0 !important;
		}

	}

}

@include breakpoint($grid-sm $grid-sm-max) {

	.grid-list__item {
		&:nth-of-type(odd) {
			@include span(3 of 6 first); 
			clear: left;

			&:after {
				display: none;
			}
		}
		&:nth-of-type(even) {
			@include span(3 of 6 last); 
		}
		&:nth-of-type(n+3) {
			margin-top: gutter();
		}
	}

}

@include breakpoint($grid-md) {

	.grid-list__container {
		max-width: $grid-lg;
		margin-left: auto;
		margin-right: auto;
		@include rem-value(padding-left, $content-margin);
		@include rem-value(padding-right, $content-margin);
	}

	.grid-list__items {
		@include container;
		padding-left: 0;
		padding-right: 0;
	}

	.grid-list__item {
		&:nth-of-type(3n+1) {
			@include span(2 of 6 first); 
			clear: left;

			&:after {
				display: none;
			}
		}
		&:nth-of-type(3n+2) {
			@include span(2 of 6); 
		}
		&:nth-of-type(3n+3) {
			@include span(2 of 6 last); 
		}
		&:nth-of-type(n+4) {
			margin-top: gutter();
		}
	}

}