
.hero {

}

.hero__img {
	width: 100%;
	margin:0;

	img {
		display:block;
		width:100%;
	}
}

.hero__content {
	@extend .content-wrapper;
	text-align: center;

	h1 {
		margin-bottom:0;
	}
}

@include breakpoint($grid-md) {
	.hero {
		position: relative;
		@include rem-value(max-height, 525px);
		overflow: hidden;
	}

	.hero__content {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		
		// center vertically
		display: flex;
		justify-content: center;
		flex-direction: column;

		z-index: 1;

		color: $color-white;

		h1 {
			margin: 0;
		}

		h1 + p {
			margin-top: .8em;
		}

	}

	.hero__btn {
		margin: 2em 0 0;

		& + p {
			margin-top: .8em;
		}
	}


}