
.nav__list {
	display:block;
	margin:0;
	padding:0;
	list-style:none;
	line-height: $line-height-sm;
	font-weight: $weight-normal;
}

.nav__item {
	display:block;
	margin:0;
	padding:0;


	a {
		display:block;
		text-decoration: none;
		@include rem-value(font-size, $font-size-sm);
	}

	a.active-trail,
	&.active-trail > a,
	a.selected,
	&.selected > a {
		color: $color-minuba-primary;
	}
}


// Modifiers

.nav--primary {
	.nav__item {
		a {
			@include rem-value(font-size, $font-size-xl);
			@include rem-value(padding, 10px, $content-margin);
			text-transform: uppercase;

			&:hover {
				background-color: darken($color-tonal-gray-1, 4%);
			}
		}
	}

	 > .nav__list > .nav__item {
	 	opacity: 0;
	 	transform: translateX(-25%);
/*
	 	> .nav__list > .nav__item {
	 		a {
				@include rem-value(font-size, $font-size-md);
				@include rem-value(padding, 10px, $content-margin, 10px, 2 * $content-margin);
	 		}
	 	}
*/
		> .nav__list {
			display: none;
		}
	 }

	.nav__separator {
		@include rem-value(margin-top, 20px);
	}
}

.nav--footer {
	> .nav__list {
		> .nav__item {
			margin-bottom: 2em;
			&:last-of-type {
				margin-top: 0;
			}

			> a {
				text-transform: uppercase;
			}

			> .nav__list {
				@include rem-value(margin-top, $base-unit);
			}
		}
	}
}

.nav--section {

	margin-bottom: 2em;

	.nav__title {
		margin: 0 0 1em;
		@include rem-value(font-size, $font-size-sm);
		text-transform: uppercase;
		font-weight: $weight-normal;

		a {
			color: inherit;
			text-decoration: none;
		}
	}
	.nav__list {
		line-height: $line-height-xs;


	}


	.nav__item {
		margin-left: -10px;


		a {
			display:block;
			border-left: 2px solid transparent;
			
			padding: 0 0 0 8px;
			margin: 3px 0;
			@include rem-value(font-size, $font-size-sm);

			transition-property: color, background-color;
			&:hover {
				background-color: $color-tonal-gray-1;
			}
		}

		a.selected,
		&.selected a {
			border-left-color: $color-minuba-primary;
		}

	}
}

.menu--state-open {
	.nav--primary > .nav__list > .nav__item {
		opacity: 1;
		transform: translateX(0);
		transition: transform $duration-medium $ease-in-out-quad, opacity $duration-fast;


		@for $i from 1 through 10 {
		  &:nth-of-type(#{$i}) {
		  	transition-delay: #{.2 + $i * .1}s;
		  }
		    
		}


	}
}

@include breakpoint($grid-md) {
	.nav--primary {
		
		.nav__item {
			display:inline;
			float:left;

			a {
				
				padding: 6px 8px;
				@include rem-value(font-size, $font-size-sm);
				border-radius: $border-radius;

				transition-property: color, background-color;

				&:hover {
					background-color: $color-tonal-gray-1;
				}
			}
		}

 		> .nav__list > .nav__item {
			opacity: 1;
			transform: translateX(0);
			
			a {
				transition-property: color;
			}

			> .nav__list {
				display: none;
				position: absolute;
				top: 100%;
				min-width: 140px;
				max-width: 160%;
				padding: $base-unit 0;

				background: $color-tonal-gray-1;
				border-radius: 0 0 $border-radius $border-radius;

				.nav__item {
					float:none;

					a {
						color: inherit;
						border-radius: 0;
						&:hover {
							background-color: darken($color-tonal-gray-1, 10%);
						}
					}
				}

			}

			&:hover {
				a {
					background: $color-tonal-gray-1;
				}
				> .nav__list {
					display:block !important;
				}
			}
		}

		.nav__separator {
			margin-top: 0;
			@include rem-value(margin-left, 28px);
		}
	}



}