
.site-footer {
	@include rem-value(font-size, $font-size-sm);
	@extend %text-color-light;
	text-align: center;
	line-height: $line-height-sm;
	
	color: $color-white;
	background: $color-tonal-gray-4;

	position:relative;

}

.site-footer__container {
	@include container($grid-lg);
	@extend %content-wrapper;
	@include rem-value(padding-top, $content-padding-v);
	@include rem-value(padding-bottom, $content-padding-v);
}

.site-footer__contact,
.site-footer__menu {
	&:nth-of-type(n+2) {
		@include rem-value(margin-top, .5 * $content-padding-v);
	}
}

.site-footer__contact {

	.title {
		margin-top:0;
		@include rem-value(margin-bottom, $base-unit);
	}

	.social__links {
		margin-top: 1rem;
	}

	a {
		text-decoration: none;
	}
}

.site-footer__menu {
	overflow: hidden;
}

.site-footer__menu__title {
	display:none;
}

.site-footer__title__sprite {
	display:inline-block;
	clear:both;
	width: 90px;
	height: 32px;
}



.site-footer__menu {

	.nav > .nav__list > .nav__item {
		@include span(1 of 2)

		&:nth-of-type(2n) {
			@include span(last 1 of 2)
		}
	}
}


@include breakpoint($grid-sm) {


	.site-footer__menu {

		.nav > .nav__list > .nav__item {
			&,
			&:nth-of-type(2n) {
				@include span(1 of 4)
			}

			&:nth-of-type(4n) {
				@include span(last 1 of 4)
			}
		}
	}
	
}
@include breakpoint($grid-md) {

	.site-footer {
		text-align: left;
	}

	.site-footer__contact,
	.site-footer__menu {
		&:nth-of-type(n+2) {
			margin-top: 0;
		}
	}

	.site-footer__contact {
		@include span(2 of 6);

		.title {
			margin-top: -24px;
		}

	}

	.site-footer__menu {
		@include span(last 4 of 6);
	}
}