
.slider {
	margin: 1.4em 0;	
}

.slider__items {
	display:block;
	margin-left:0;
	margin-right:0;
	padding:0;
	list-style:none;
}

.slider__item {
	margin:0;
	padding:0;
}

.slider__image {
	text-align:center;

	img {
		display:inline-block;
		margin: 0;
	}
}

.slider__image__caption {
	@extend %strip-child-margins;
	margin: 0;

	@include rem-value(font-size, $font-size-sm);
	line-height: $line-height-md;

	img + & {
		margin-top: 1em;
	}
	& + img {
		margin-bottom: 1em;
	}
}