
.social {
	margin: 1em 0;
}


.social__item {
	display:inline-block;

	@include rem-value(font-size, $font-size-md);

	&,
	&:link,
	&:visited {
		color: inherit;
	}
	

	&:nth-of-type(n+2) {
		margin-left: 5px;
	}
}

.social--inverse {
	.social__item {
		color: $color-white;
	}
}

.social--circles {
	.social__item {
		position: relative;

		@include rem-value(width, 28px);
		@include rem-value(height, 28px);

		@include rem-value(border-radius, 14px);

		&,
		&:link,
		&:visited {
			background-color: $color-opacity-1;
			color: inherit;
		}

		&:hover {
			background-color: $color-opacity-1-hover;
		}


		.sprite {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -.5em;
			margin-top: -.5em;
			font-size: 1em;
		}

	}


	&.social--inverse {
		.social__item {

			&,
			&:link,
			&:visited {
				background: rgba(255,255,255,.4);
				color: $color-tonal-gray-4;
			}
			
			&:hover {
				background: rgba(255,255,255,1);
			}
			
		}
	}

}