
.sprite {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;

}

.sprite-label {
	display:none;
}

span[class^='sprite--minuba-'],
span[class*=' sprite--minuba-'] {
	fill: $color-minuba-primary;
	color: $color-minuba-secondary;
}

