
.tags {
	display:block;
	margin: .8em 0;
	width: auto;
	padding:0;
	list-style:none;
	overflow:hidden;
	font-size: 0;

	& + p {
		margin-top: 0;
	}
}

.tags__item {
	display: inline-block;
	margin: 0 $pill-margin $pill-margin 0;

	.tag {
		display:block;
	}
}

.tag {
	display:inline-block;
	background: $color-opacity-1;
	text-decoration: none;
	padding: $pill-padding-v $pill-padding-h;
	border-radius: $border-radius;
	@include rem-value(font-size, $font-size-sm);
	line-height: $line-height-md;
	white-space: nowrap;

	&,
	&:link,
	&:visited,
	&:hover {
		color: inherit !important;
	}

	&:hover {
		background: $color-opacity-1-hover;
	}
}