

.wysiwyg {
	@extend %formatted-text;
	
}

.wysiwyg__media {
	text-align: center;
	width: 100%;

	img {
		display:inline-block;
	}
}

@include breakpoint($grid-md) {

	.wysiwyg__media--left,
	.wysiwyg__media--right {
		margin-top: 0;

		img {
			display:block;
			max-width: none;
			width: auto;
		}
	}

	.wysiwyg__media--left {
		text-align:right;
		direction: rtl;
		@include span(3 of 6 first);
	}

	.wysiwyg__media--right {
		text-align:left;
		@include span(3 of 6 last);
		margin-left: gutter();

	}
}