<section class="banner {{ classes }}">


	{% if image %}
	<figure class="banner__img">
		{% block image %}
		<img src="/assets/images/samples/worker-time01.jpg" alt="Sample image" />
		{% endblock %}
	</figure>
	{% endif %}

	<div class="banner__content">
		{% block content %}
		<h1>Lorem ipsum dolor sit amet consectetur</h1>
		<p>
			Etiam sed sagittis ligula. Ut rutrum eget ex at finibus. 
			Fusce nibh justo, tristique et convallis id, mattis in lorem. 
			Curabitur dapibus ut nibh sit amet ultrices. 
		</p>
		<div class="banner__btn">
			<a href="#free-trial" class="btn">Klik her</a>
		</div>
		{% endblock %}
	</div>

</section>