
html {
	font-family: $font-stack-body;
	font-size: $font-size-md;
	font-size: $font-size-md / 16px * 1em;
	line-height: $line-height-lg;
	color: $color-text-body;
	font-weight: $weight-light;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
.h1 {
	font-weight: $weight-light;
	@include rem-value(font-size, $font-size-xxl);
	line-height: $line-height-md;
	margin: .6em 0;
}

h2,
.h2 {
	font-weight: $weight-light;
	@include rem-value(font-size, $font-size-xl);
	line-height: $line-height-md;
	margin: 1.4em 0 .4em;
}


h3 {
	font-weight: $weight-normal;
	@include rem-value(font-size, $font-size-lg);
	line-height: $line-height-md;
	margin: 1.4em 0 .2em;
}

h4 {
	font-weight: $weight-normal;
	@include rem-value(font-size, $font-size-md);
	line-height: $line-height-md;
}

p {
	margin: 1.6em 0;
	font-size: inherit;
	max-width: (strip-unit(span(5 of 6 narrow)) / 100) * $grid-lg;

}

h1,
.h1 {
	& + p,
	& + figure,
	& + figure + p {
		margin-top: 1em;
	}
}

h2,
.h2,
h3,
.h3 {
	& + p,
	& + figure,
	& + figure + p {
		margin-top:0;	
	}
}

strong,
bold {
	font-weight: $weight-normal;
}

blockquote {
	@extend %strip-child-margins;
}

time {
	display:block;
	font-style: italic;
	@include rem-value(font-size, $font-size-sm);

	h1 + & {
		position:relative;
		top: -1.7em;
	}
	h2 + & {
		margin-top: -.5em;
	}

	& + h1,
	& + h2,
	& + p {
		margin-top: 0;
	}
}

address {
	font-style: normal;
}


.size-xl,
.lead {
	@include rem-value(font-size, $font-size-xl);
	line-height: $line-height-md;
}

.size-sm,
.small,
small {
	@include rem-value(font-size, $font-size-sm);
	line-height: $line-height-md;
}

.nowrap {
	white-space: nowrap;
}

.symbol {
	font-family: "Lucida Console", monospace;
}

@mixin text-color($body-color: $color-text-body, $header-color: $color-text-header) {
	color: $body-color;

	h1,
	.h1,
	h2,
	.h2 {
		color: $header-color;
	}
}

@mixin text-color-light {
	@include text-color($color-white, $color-white);
}

@mixin text-color-normal {
	@include text-color($color-text-body, $color-tonal-gray-5);
}

@mixin text-color-dark {
	@include text-color($color-tonal-gray-4, $color-tonal-gray-5);
}


%formatted-text,
.formatted-text {
	
	@extend %strip-child-margins;

	a {
		color: $color-minuba-primary;	

		&:hover,
		&:active {
			color: $color-minuba-secondary;
		}
		
	}
}

@include breakpoint($grid-sm) {
	h1,
	.h1 {
		@include rem-value(font-size, $font-size-xxl-lg);

	}
}