
html {
	font-family: $font-stack-body;
	font-size: $font-size-md;
	font-size: $font-size-md / 16px * 1em;
	line-height: $line-height-lg;
	color: $color-text-body;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
.h1 {
	font-weight: $weight-light;
	@include rem-value(font-size, $font-size-xxl);
	line-height: $line-height-md;
	margin: .6em 0;
}

h2,
.h2 {
	font-weight: $weight-light;
	@include rem-value(font-size, $font-size-xl);
	line-height: $line-height-md;
	margin: 1.4em 0 .4em;
}


h3 {
	font-weight: $weight-light;
	@include rem-value(font-size, $font-size-lg);
	line-height: $line-height-lg;
}

h4 {
	font-weight: $weight-normal;
	@include rem-value(font-size, $font-size-md);
	line-height: $line-height-lg;
}

p {
	margin: 1.6em 0;
	font-size: inherit;
}

h1,
.h1 {
	& + p,
	& + figure,
	& + figure + p {
		margin-top: 1em;
	}
}

h2,
.h2,
h3,
.h3 {
	& + p,
	& + figure,
	& + figure + p {
		margin-top:0;	
	}
}




address {
	font-style: normal;
}


.size-xl,
.lead {
	@include rem-value(font-size, $font-size-xl);
	line-height: $line-height-md;
}


%formatted-text,
.formatted-text {
	
	:first-child {
		margin-top:0;
	}
	:last-child {
		margin-bottom: 0;
	}

	h1,
	.h1,
	h2,
	.h2 {
		color: $color-tonal-gray-5;
	}


	a {
		color: $color-minuba-primary;	

		&:hover,
		&:active {
			color: $color-minuba-secondary;
		}
		
	}
}

@include breakpoint($grid-sm) {
	h1,
	.h1 {
		@include rem-value(font-size, $font-size-xxl-lg);

	}
}